[Unit]
Description=Dump the Calliope database
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/calliope/deployment/backup.sh
